.contacts {
    position: relative;
    margin-top:70px;
}

.contacts-big {
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 1%;
}

.contacts-wrapper {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 0 110px 150px 0;
    align-items: flex-end;
    justify-content: space-between;
}

.contacts-requisites {
    margin-top: 86px;
    padding-left: 102px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: #272727;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
}

.contacts-requisites__link {
    text-decoration: none;
    color: #272727;
    cursor: pointer;
}

.branches {
    margin-top: 118px;
}

.contacts-branches {
    gap: 30px;
    padding-left: 116px;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 85px;
}

.contacts-branches h3 {
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
}

h3.stadium {
    margin-top: 78.5px;
    margin-bottom: 0;
}

.map {
    height: 100%;
    width: 100%;
   max-width: 600px;
}

iframe {
    height: 500px !important;
}

@media (min-width: 320px) and (max-width: 768px) {
.contacts {
    margin-bottom: 30px;
}

.map {
    width: 100%;
}

iframe {
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
width: 100%;
    display: flex;
}
    .contacts-wrapper {
        display: block;
    }

    .contacts-requisites {
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 30px;
    }

    .contacts-adress {
        text-align: center;
    }

    .branches {
        margin-top: 30px;
    }

    .contacts-wrapper {
        position: relative;
        padding: 0;
        flex-direction: column;
    }

    /* .map {
        display: none;
    } */

    .contacts-branches {
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-around;
        gap: 30px;
        align-items: center;
        margin-right: 0;
    }

    .contacts-branches h3 {
        margin-bottom: 10px;
    }

    h3.stadium {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .contacts-branches__schools {
        margin-top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1359px) {
    .contacts-branches {
        gap: 30px;
        padding-left: 50px;
        justify-content: center;
    }

    .contacts-wrapper {
        padding: 0 50px 50px 0;
        justify-content: space-between;
    }

    .map {
        max-width: 550px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    /* .map {
        display: none;
    } */
}