.compaund {
    margin-top: 55px;
    padding-bottom: 255px;
}

.compaund-list {
    margin-top: 103px;
    display: flex;
    flex-wrap: wrap;
}

.compaund-list__item {
    max-width: 400px;
}

.compaund-list__item-title {
    margin-top: 22px;
    color: #272727;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-list__item-desc {
    color: #272727;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-desc {
    text-align: center;
    margin-top: 85px;
}

.compaund-btn {
    margin: 28px auto 0;
}