.compaund {
    position: relative;
    margin-top: 55px;
    padding-bottom: 105px;
}

.compaund-list {
    margin-top: 103px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-around;
}

.compaund-list__item {
    max-width: 350px;
    text-align: center;
}

.compaund-list__item-title {
    margin-top: 22px;
    color: #272727;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-list__item-desc {
    color: #272727;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-list__item-btn {
    display: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 10px;
    background: #FE5000;
    padding: 8px 12px 10px;
    border-width: 0;
    display: block;
    margin: 20px auto 0;
}

.compaund-desc {
    text-align: center;
    margin-top: 85px;
}

.car {
    color: #272727;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-btn {
    margin: 28px auto 0;
}


.compaund-item__list {

    text-align: left;
    color: #272727;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.compaund-item__list>li {
    list-style: disc;
    text-align: left;
}

.compaund-mini {
    position: absolute;
    right: 10%;
    bottom: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
    .compaund-list__wrapper {
        display: none;
    }

    ._choose .compaund-list__wrapper{
        display: block;
    }


    .compaund {
        position: relative;
        margin-top: 30px;
        padding-bottom: 155px;
    }
    
    .compaund-list {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0 30px;
        justify-content: space-around;
    }
    
    .compaund-list__item {
        max-width: 320px;
        text-align: center;
    }
    
    .compaund-list__item-title {
        margin-top: 22px;
        color: #272727;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.6px;
    }
    
    .compaund-list__item-desc {
        color: #272727;
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.6px;
    }
    
    .compaund-desc {
        text-align: center;
        margin-top: 35px;
    }
    
    .car {
        color: #272727;
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.6px;
    }
    
    .compaund-btn {
        margin: 28px auto 0;
    }
    
    
    .compaund-item__list {
    
        text-align: left;
        color: #272727;
        font-size: 12px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.6px;
    }
    
    .compaund-item__list>li {
        list-style: disc;
        text-align: left;
    }
    
    .compaund-mini {
        position: absolute;
        right: 10%;
        bottom: 0;
    }
}

@media (min-width: 769px) and (max-width: 1359px) {
    .compaund-list__item-btn {
        display: none;
    }

    .compaund-list__item {
        max-width: 320px;
        text-align: center;
    }

    .compaund-list {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 0 30px;
        justify-content: space-around;
    }
}