.programInclude {
    margin-top: 70px;
}

.programInclude-list {
    margin-top: 65px;
    padding: 0 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px 50px;
    text-align: center;
    align-items: center;
}

.programInclude-list__item-title {
    margin-top: 66px;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.8px;
    max-width: 277px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .programInclude {
        margin-top: 30px;
    }
    
    .programInclude-list {
        margin-top: 30px;
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 10px;
        text-align: center;
        align-items: baseline;
    }

    .programInclude-list__item {
        width: 47%;
    }
    
    .programInclude-list__item img {
        width: 70px;
        height: 70px;
    }

    .programInclude-list__item-title {
        margin-top: 30px;
        color: #272727;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.8px;
        max-width: 277px;
    }
}

@media (min-width: 769px) and (max-width: 1359px) {
    .programInclude {
        margin-top: 50px;
    }
    
    .programInclude-list {
        margin-top: 50px;
        padding: 0 50px 53px 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 100px;
        text-align: center;
        align-items: center;
    }

    .programInclude-list__item {
        width: 30%;
    }
    
    .programInclude-list__item-title {
        margin: 30px auto 0;
        color: #272727;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.8px;
        max-width: 277px;
    }
}