.header-content {
    margin-top: 70px;
}

.header-h {
    text-align: center;
    position: relative;
}

.header-text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 150px 50px 0;
}

.header-h img {
    max-width: 100%;
}

.header-text__title {
    width: 95%;
    text-align: left;
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.header-text__info-desc {
    width: 90%;
    text-align: center;
    color: #FFF;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header-text__info-btn {
    display: block;
    padding: 8px 12px 10px;
    margin-top: 46px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 10px;
    background: #FE5000;
    max-width: 130px;
    text-decoration: none;
    border-width: 0;
}

@media (max-width: 768px) {
    .header-text__title {
        font-size: 25px;
        text-align: center;
    }

    .header-h {
        height: 300px;
    }

    .header-h img {
        height: 100%;
    }

    .header-text {
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
        padding: 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3 0px;
        flex-wrap: wrap;
    }

    .header-text__info-desc {
        font-size: 18px;
        margin-top: 0px;
        text-align: center;
    }

    .header-text__info-btn {
        display: block;
        padding: 10px;
        margin-top: 0px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 10px;
        border-radius: 10px;
        background: #FE5000;
        max-width: 120px;
        text-decoration: none;
        border-width: 0;
    }
}

@media (min-width: 769px) and (max-width: 1359px) {


    .header-text {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 90px 50px 180px;
    }

    .header-h img {
        max-width: 100%;
    }

    .header-text__title {
        width: 95%;
        text-align: left;
        color: #FFF;
        font-size: 35px;
        font-weight: 500;
        text-align: center;
    }

    .header-text__info-desc {
        width: 90%;
        text-align: center;
        color: #FFF;
        font-family: Verdana;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .header-text__info-btn {
        display: block;
        padding: 8px 12px 10px;
        margin-top: 16px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        border-radius: 10px;
        background: #FE5000;
        max-width: 130px;
        text-decoration: none;
        border-width: 0;
    }
}