.activeLife {
    margin-top: 142px;
}

.activeLife-list {
    margin-top: 101px;
    display: flex;
    gap: 40px;
    padding: 0 92px 0 106px;
}

.activeLife-list__image-wrapper {
    position: relative;
}

.activeLife-list__image-back {
    position: absolute;
    top: -13px;
    left: 12px;
    z-index: -1;
    width: 262px;
    height: 358px;
    border-radius: 5px;
    background: #EB6932;
}

.activeLife-list__item-text {
    margin-top: 10px;
    max-width: 260px;
}

.activeLife-list__item-data {
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #272727;
}

.activeLife-link {
    display: block;
    margin-top: 70px;
    text-align: center;
}

.second {
    margin-top: 99px;
}

.sec {
    background: #3B3E42;
}