.contacts {
    position: relative;
    margin-top: 246px;
}

.contacts-big {
    position: absolute;
    z-index: -1;
    top: -264px;
    right: 0px;
}

.contacts-mini {
    position: absolute;
    z-index: -1;
    right: 470px;
    bottom: 135px;
}

.contacts-wrapper {
    display: flex;
    gap: 226px;
    margin-top: 100px;
    padding: 0 110px 164px 102px;
}

.contacts-content {
    display: flex;
    max-width: 372px;
    flex-direction: column;
    gap: 35px;
    color: #272727;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
    align-items: flex-start;
}

.contacts-content__link {
    display: block;
    margin-top: 55px;
}