.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px 31.6px 65px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.header-list a {
    color: #272727;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
}