.partners {
    margin-top: 100px;
}

.partners-list {
    text-align: center;
    margin-top: 105px;
    display: flex;
    gap: 25px 148px;
    justify-content: space-between;
    padding: 0 135px 0 157px;
    flex-wrap: wrap;
    align-items: baseline;
}

.partners-list__item-text {
    max-width: 460px;
    margin-top: 80px;
    text-align: left;
}