.projects {
    margin-top: 28px;
    position: relative;
}

.projects-wrapper {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 98px;
}

.projects-description__block-1 {
    display: flex;
    gap: 40px;
    padding: 0 80px 0 282px;
}

.projects-description__block-2 {
    display: flex;
    gap: 99px;
    padding: 0 163px 0 278px;
}

.projects-images {
    position: relative;
    margin-top: 52px;
}

.projects-2 {
    position: absolute;
    left: 65%;
    top: 15%;
    z-index: 100;
}

.projects-1 {
    position: absolute;
    left: -40%;
    top: 15%;
    z-index: 100;
}

.projects-text {
    position: relative;
    padding-top: 160px;
    max-width: 460px;
}

.projects-text__desc {
    margin-top: 40px;
    margin-bottom: 25px;
}

.projects-text__link {
    display: block;
    margin-top: 74px;
}

.projects-text__star {
    position: absolute;
    left: 80px;
}

.projects-text__title {
    color: #FE5000;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}