* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.title {
    color: #FFF;
    font-size: 24px;
    padding: 9px 100px 9px 100px;
}

.text {
    color: #272727;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.7px;
}

.link {
    color: #272727;
    font-size: 16px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-decoration-line: underline;
}

.title-wrapper {
    width: 500px;
    height: 50px;
    border-radius: 100px 0;
    background: #494B4C;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px 31.6px 65px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.advantages-list {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.about {
    margin-top: 110px;
    position: relative;
}

.about-wrapper {
    margin-top: 95px;
    padding: 0 45px 97px 53px;
    display: flex;
    gap: 72px;
}

.about-text {
    color: #272727;
    font-size: 14px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.7px;
}

.about-m {
    margin-top: 50px;
}

.about-mini {
    position: absolute;
    top: 62%;
    left: 48%;
    z-index: -1;
}

.about-big {
    position: absolute;
    top: -10%;
    left: 65%;
    z-index: -1;
}

.projects {
    position: relative;
}

.projects-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 51px;
    padding: 0 80px 0 282px;
}

.projects-images {
    position: relative;
    margin-top: 52px;
}

.projects-2 {
    position: absolute;
    left: 65%;
    top: 15%;
    z-index: 100;
}

.projects-text {
    position: relative;
    padding-top: 160px;
    max-width: 460px;
}

.projects-text__desc {
    margin-top: 40px;
    margin-bottom: 25px;
}

.projects-text__link {
    display: block;
    margin-top: 74px;
}

.projects-text__star {
    position: absolute;
    left: 80px;
}

.projects-text__title {
    color: #FE5000;
    font-size: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}