.role {
    margin-top: 191px;
}

.role-wrapper {
    width: 550px;
}

.role-content {
    margin-top: 77px;
    display: flex;
    gap: 85px;
    padding: 0 80px 43px 98px;
    justify-content: center;
}

.role-content__text {
    position: relative;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.role-content__text-mini {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -5%;
}

.role-content__text-big {
    position: absolute;
    right: -20%;
    top: -50%;
    z-index: -1;
}

.role-content__text-1 {
    max-width: 510px;
}

.role-content__text-2 {
    max-width: 428px;
   padding-left: 66px; 
}

.role-content__text-wrapper {
    position: relative;
    padding: 65px 0 52px 66px;
}

.role-content__text-wrapper ::before {
    position: absolute;
    content: url(/DNK/images/icons/kav.svg);
    top: 26px;
    left: 0;
}

.role-content__text-wrapper ::after {
    position: absolute;
    content: url(/DNK/images/icons/kav.svg);
    bottom: 0;
    right: 0;
}

@media (min-width: 320px) and (max-width: 768px) {

    .role {
        margin-top: 50px;
    }
    
    .role-wrapper {
        width: 320px;
    }

    .title {
        padding: 9px 35px;
    }
    
    .role-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 30px;
        
    }
    
    .role-content__text {
        position: relative;
        color: #272727;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.8px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .role-content__text-mini {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -5%;
    }
    
    .role-content__text-big {
        display: none;
    }
    
    .role-content__text-1 {
        max-width: 510px;
        text-align: center;
    }
    
    .role-content__text-2 {
        max-width: 428px;
       padding-left: 30px; 
    }
    
    .role-content__text-wrapper {
        position: relative;
        padding: 30px ;
    }
    
    .role-content__text-wrapper ::before {
        position: absolute;
        content: url(/DNK/images/icons/kav.svg);
        top: 0;
        left: 0;
    }
    
    .role-content__text-wrapper ::after {
        position: absolute;
        content: url(/DNK/images/icons/kav.svg);
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 769px) and (max-width: 1359px) {
    .role {
        margin-top: 70px;
    }

    .role-title {
        padding: 9px 30px 9px 70px;
    }
    
    .role-wrapper {
        width: 450px;
    }
    
    .role-content {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 85px;
        padding: 0 50px 43px 58px;
    }
    
    .role-content__text {
        position: relative;
        color: #272727;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.8px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    
    .role-content__text-mini {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -5%;
    }
    
    .role-content__text-big {
        position: absolute;
        right: -20%;
        top: -50%;
        z-index: -1;
    }
    
    .role-content__text-1 {
        max-width: 510px;
    }
    
    .role-content__text-2 {
        max-width: 428px;
       padding-left: 66px; 
    }
    
    .role-content__text-wrapper {
        position: relative;
        padding: 65px 0 52px 66px;
    }
    
    .role-content__text-wrapper ::before {
        position: absolute;
        content: url(/DNK/images/icons/kav.svg);
        top: 26px;
        left: 0;
    }
    
    .role-content__text-wrapper ::after {
        position: absolute;
        content: url(/DNK/images/icons/kav.svg);
        bottom: 0;
        right: 0;
    }
}